/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 360px;
  background: #003554;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.logo img{
  width: 190px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menuconteudo {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menuconteudo::-webkit-scrollbar {
  display: none;
}
.itens {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .itens {
  transform: translateX(-56%);
}
.bemvindo{
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 15px 20px;
  width: 1000px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .bemvindo:hover {
  background: rgba(255, 255, 255, 0.1);
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .bemvindo{
  border-radius: 12px;
  cursor: pointer;
}
.submenu .bemvindo i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #003554;
  padding: 20px 20px;
  font-size: 25px;
  background: #fff;
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
  z-index: 100;
  background: #e7f2fd;
}
.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}