@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 945px;
    font-family: "Poppins", sans-serif;
    /* ================== ESSAS ULTIMAS 4 LINHAS É PARA FAZER UMA ANIMAÇÃO DE GRADIENTE (MAIS DE UMA COR) ================== */
    transition: all 0.5s ease;
    background-color: #1d2634;
    background-size: 400% 400%;
}


#form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 70px;
    width: 18%;
    align-items: center;
    color: #1d2634;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#form h2 {
    text-align: center;
}


.logo img{
    width:70%;
}
.logo{
    align-items: center;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 30px;
    color: #1d2634;
    margin-bottom: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.input {
    min-width: 200px;
    border-radius: 22px;
    border: 2px #1d2634 solid;
    padding: 5px;
    margin: 0px 0px 12px -5; 
}

.input i {
    font-size: 1.2em; /* ================== FORMATO DE TAMANHO DIFERENTE DE PX ================== */
    padding: 5px;
}

.input input {
    width: 80%;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    transform: translateY(10%);
    color: #1d2634;
    font-size: 20px;
}

select {
    width: 100%;
    border: none;
    font-size: 20px;
    color: #1d2634;
}

#button {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#button button {
    font-family: "Poppins", sans-serif;
    background: #1d2634;
    width: 65%;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    /* ================== OUTLINE NONE É LITERALMENTE PARA TIRAR A LINHA EXTERNA DO BUTTON (BTN)
    E CURSOR POINTER É PARA QUANDO VOCÊ COLOCAR O MOUSE EM CIMA DO BTN APARECER ALGUMA OUTRA COISINHA ================== */
    outline: none;
    cursor: pointer;
}


#button button:hover {/* ================== HOVER = QUANDO O MOUSE PASSA EM CIMA ================== */
    background: #032030;
    animation: Animacao 4s ease infinite;
}

.esqueceusenha{
    position: relative;
    margin-top: 10px;
}
.esqueceusenha span{
    display: flex;
    justify-content: center;
    
}

.href {
    color: black;
}

header {
    background: #fff;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    z-index: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

}

header .logo {
    width: 15%;
    font-size: 30px;
    text-transform: uppercase;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #1d2634;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}
nav ul li a:hover {
    background: #1d2634;
    color: #fff;
}

nav ul li a.ativo {
    background: #1d2634;
    color: #fff;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

/* ================== KEYFRAME PARA USAR AS ANIMAÇÕES CRIADAS A CIMA ================== */
@keyframes Animacao {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

