/* ================== @IMPORT URL = "SCRIPT" PARA COLOCAR UMA FONTE ================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 945px;
    font-family: "Poppins", sans-serif;
    /* ================== ESSAS ULTIMAS 4 LINHAS É PARA FAZER UMA ANIMAÇÃO DE GRADIENTE (MAIS DE UMA COR) ================== */
    transition: all 0.5s ease;
    background: linear-gradient(-45deg, #032030, #022B42, #003554, #004D74, #006494, #006DA4); /* */
    background-size: 400% 400%;
    animation: Animacao 10s ease infinite;
}


#form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 70px;
    width: 18%;
    align-items: center;
    color: #032030;
}

#form h2 {
    text-align: center;
}


.logo img{
    width:70%;
}
.logo{
    align-items: center;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 30px;
    color: #032030;
    margin-bottom: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.input {
    min-width: 200px;
    border-radius: 22px;
    border: 2px #032030 solid;
    padding: 5px;
    margin: 0px 0px 12px -5; 
}

.select {
    min-width: 180px;
    border-radius: 22px;
    background: transparent;
    border: 2px #032030 solid;
    padding: 5px;
    margin: 0px 0px 5px -5; 
}

.input i {
    font-size: 1.2em; /* ================== FORMATO DE TAMANHO DIFERENTE DE PX ================== */
    padding: 5px;
}

.input input {
    width: 80%;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    transform: translateY(10%);
    color: #032030;
    font-size: 20px;
}

.input select {
    width: 110%;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    transform: translateY(10%);
    color: #032030;
    font-size: 20px;
}

#button {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#button button {
    font-family: "Poppins", sans-serif;
    background: #032030;
    width: 65%;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    /* ================== OUTLINE NONE É LITERALMENTE PARA TIRAR A LINHA EXTERNA DO BUTTON (BTN)
    E CURSOR POINTER É PARA QUANDO VOCÊ COLOCAR O MOUSE EM CIMA DO BTN APARECER ALGUMA OUTRA COISINHA ================== */
    outline: none;
    cursor: pointer;
}


#button button:hover {/* ================== HOVER = QUANDO O MOUSE PASSA EM CIMA ================== */
    background: linear-gradient(-45deg, #004D74, #006494, #006DA4);
    animation: Animacao 4s ease infinite;
}

.esqueceusenha{
    position: relative;
    margin-top: 10px;
}
.esqueceusenha span{
    display: flex;
    justify-content: center;
    
}

.href {

    color: black;

}
.corpo2 img{
    width: 10px;
    height: 20px;
    text-align: center;
}
/* ================== KEYFRAME PARA USAR AS ANIMAÇÕES CRIADAS A CIMA ================== */
@keyframes Animacao {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

